body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000; /* Фон черного цвета */
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  
  .logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 50px;
    height: 50px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
    padding: 20px;
    border-radius: 5px;
  }
  
  form h1 {
    color: white;
    margin-bottom: 20px;
  }
  
  input[type="text"], input[type="password"] {
    border: 2px solid gold;
    background-color: transparent;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
  }
  
  button {
    background-color: gold;
    color: black;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: darkgoldenrod;
  }
  